.border-button {
    color: white;
    position: relative;
    border: none;
    transition: background-color .25s;
}

.border-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all .25s;
}

.border-button:hover {
    cursor: pointer;
}

.border-button:hover:after {
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
}

.border-button.blue {
    background-color: rgba(41, 167, 255, .5);
}

.border-button.blue:after {
    border: 1px solid #29a7ff;
}

.border-button.blue:hover {
    background-color: rgba(41, 167, 255, 1);
}

.border-button.gray {
    background-color: rgba(255, 255, 255, .2);
}

.border-button.gray:after {
    border: 1px solid #eaeaea42;
}

.border-button.gray:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}