.border-button {
    color: white;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    position: relative;
    border: none;
}

.border-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #29a7ff;
    box-sizing: border-box;
}

.border-button:hover {
    cursor: pointer;
}

.border-button.blue {
    background-color: rgba(41, 167, 255, .5);
}