.europa-flex-item { 
    width: 26%
}

.europa-section .section-content,
.gear-section .section-content {
    width: 100%;
}

.europa-section .section-content > .section-body {
    width: 630px;
}

.gear-flex-item {
    width: 28%;
}

.gear-flex-item > img {
    width: 100%;
    height: auto;
}

.gear-flex-item > h3 {
    font-size: 2rem;
}

.gear-section .section-content > .section-body {
    width: 600px;
}

.stasis-flex-item {
    width: 45%;
}

.stasis-flex-item > h3,
.europa-flex-item > h3 {
    font-size: 1.3rem;
}

.stasis-flex-item > p,
.europa-flex-item > p {
    font-weight: 500;
    font-size: 1.05rem;
}

.stasis-flex-item > img,
.europa-flex-item > img {
    display: block;
    margin: 20px auto;
    height: 2.5rem;
}

.stasis-section .section-content > .section-body {
    width: 610px;
}