header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(18, 23, 28, 0);
    padding: 10px;
    z-index: 100;
    transition: background-color .5s;
}

header.show-bg {
    background-color: rgba(18, 23, 28, 1);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 47px;
    align-items: center;
}

.header-flex > .header-logo-wrapper {
    height: 75%;
}

.header-flex > .header-logo-wrapper > img {
    height: 100%;
    width: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 100%;
}

.header-nav > .nav-link {
    color: #adadad;
    text-decoration: none;
    align-self: center;
    height: 100%;
    line-height: 45px;
    font-size: 1rem;
    padding: 0 1rem;
}

.header-nav > .nav-link:hover {
    color: white;
}

.header-nav > .nav-link.active {
    color: white;
}

.header-nav > .nav-link > .nav-link-btn {
    height: 100%;
    padding: 0 .9rem;
}