h1, p, h2, h3, h4, h5 {
  margin: 0;
}

p {
  line-height: 1.5;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.section-small-heading {

}

.heading-divider {
  
}

.section-body {

}

.section-btn {
  
}

.section-flex {

}